doctype html
html(ng-app='fireblogger')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/fireblogger.css')
    body
        script(src='https://cdn.firebase.com/js/client/2.2.7/firebase.js')
        script(src='javascripts/reactive.js')
